<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2>Biblioteca</h2>
    </div>
    <div class="col-sm-6">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Imagen</th>
            <th scope="col">Accion</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let e of libros">
            <td>{{ e.id }}</td>
            <td>{{ e.nombre }}</td>
            <td> <img src="{{ 'http://localhost:3000/images/' +  e.imagen }}" alt="" srcset=""> </td>
            <td>@mdo</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-sm-6">
      <div class="card">
        <div class="card-header">
          Upload a Photo
        </div>
        <div class="card-body">
          <div style="text-align: center">
            <form [formGroup]="createForm">

              <div class="form-group">
                <label for="password">Nombre</label>
                <input type="text" class="form-control" name="nombre" formControlName="nombre" (click)="resetError()" />
              </div>

              <!--
                      <div *ngIf="createForm.get('nombre').invalid && showErrors" class="alert alert-danger mt-2">
                        <div *ngIf="createForm.get('nombre').errors?.required">
                            Este campo es requerido.
                        </div>
                        <div *ngIf="createForm.get('nombre').errors?.maxlength">
                            No mas de 40 caracteres.
                        </div>
                        <div *ngIf="createForm.get('nombre').errors?.minlength">
                            Por lo menos 2 caracteres.
                        </div>
                        <div *ngIf="createForm.get('nombre').errors?.pattern">
                            Ingrese solo letras.
                        </div>
                    </div>
              -->


              <div>
                <input type="file" name="image" (change)="selectImage($event)" enctype="multipart/form-data"
                  #photoInput />
                <img [src]="photoSelected || 'assets/no-image.png'" class="img-fluid" alt="No image"
                  (click)="photoInput.click()">

              </div>
              <br>
              <div>
                <button type="submit" (click)="onSubmit()">Upload</button>
              </div>
            </form>
          </div>


        </div>
      </div>

      <hr>
      <!--///////////////////////////////////********************/////////////////////////////////////-->
      <h2 style="text-align: center">Multiple</h2>
      <div style="text-align: center">
        <form>
          <div>
            <input type="file" name="images" multiple (change)="selectMultipleImage($event)" />
          </div>
          <br>
          <div>
            <button type="submit" (click)="onMultipleSubmit()">Multiple Upload</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>